html {
  width: 100%;
  height: 100%;
  display:table;
}

body {
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7474BF', endColorstr='#348AC7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

my-app {
  margin-left:auto;
  margin-right:auto;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  h1,  my-app {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  h1,  my-app {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
  }
}

.title {
  color: rgba(255, 255, 255, 1);
}

/* Loader Begin */
.loader-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes circlePulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.circle-pulse-multiple .loader {
  width: 200px;
  height: 200px;
}
.circle-pulse-multiple .loader > div {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 50%;
  height: 50%;
  border: 2px solid #FFF;
  border-radius: 50%;
  -webkit-animation: circlePulse 3s ease infinite;
          animation: circlePulse 3s ease infinite;
}
.circle-pulse-multiple .loader .circle-2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.circle-pulse-multiple .loader .circle-3 {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@keyframes circlePulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: .8;
  }
  80% {
    opacity: .6;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
/* Loader End */

/* ShareThis Buttons Begin */
.share-buttons span {
  opacity: .8;
}

.share-buttons span:hover {
  opacity: 1;
}
/* ShareThis Buttons End */